html {
  scroll-behavior: smooth; }

body {
  font-family: 'Heebo', sans-serif;
  overflow: hidden; }

.loading {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100vh;
  text-align: center;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .loading img {
    width: 15vw; }

.pushy .pushy-content ul {
  padding-left: 0; }

.btn-regular {
  background: black !important;
  border: 0; }

header {
  position: absolute;
  width: 100%;
  z-index: 999;
  margin: auto; }
  header .header-inner {
    width: 100%;
    padding-top: 1.8em;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center; }
  header .logo-wrapper a {
    text-decoration: none; }
  header .logo-wrapper h4 {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 800;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    margin: 0;
    font-size: 20px;
    letter-spacing: 0.8px; }
    header .logo-wrapper h4:hover {
      color: rgba(0, 0, 0, 0.4); }
  header .logo-wrapper .logo {
    width: 220px;
    opacity: 1;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s; }
    header .logo-wrapper .logo:hover {
      opacity: 0.6; }
  header .menu-btn {
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 30px;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s; }
    header .menu-btn span {
      font-weight: 800;
      text-shadow: -0.5px 0 rgba(0, 0, 0, 0.8), 0 0.5px rgba(0, 0, 0, 0.8), 0.5px 0 rgba(0, 0, 0, 0.8), 0 -0.5px rgba(0, 0, 0, 0.8); }
    header .menu-btn:hover {
      color: rgba(0, 0, 0, 0.4); }
      header .menu-btn:hover span {
        text-shadow: -0.5px 0 rgba(0, 0, 0, 0.4), 0 0.5px rgba(0, 0, 0, 0.4), 0.5px 0 rgba(0, 0, 0, 0.4), 0 -0.5px rgba(0, 0, 0, 0.4); }

@media (min-width: 576px) {
  header .header-inner {
    max-width: 540px; } }

@media (min-width: 768px) {
  header .header-inner {
    padding-top: 3em;
    max-width: 720px; }
  header .logo-wrapper h4 {
    font-size: 20px; } }

@media (min-width: 992px) {
  header .header-inner {
    max-width: 960px; } }

@media (min-width: 1200px) {
  header .header-inner {
    padding-top: 3.4em;
    max-width: 1140px; } }

.hero {
  width: 100%;
  background: url("../img/head2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-position: 50% 30%; }
  .hero .hero-inner {
    text-align: center;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white; }
    .hero .hero-inner h1, .hero .hero-inner h2, .hero .hero-inner h3, .hero .hero-inner h4, .hero .hero-inner h5, .hero .hero-inner h6 {
      width: 100%; }
    .hero .hero-inner h1 {
      margin: auto;
      font-size: 2em;
      line-height: 1.2em;
      font-weight: 700; }
    .hero .hero-inner h4 {
      font-weight: normal;
      line-height: 1.2em; }
    .hero .hero-inner button {
      margin: auto; }

@media (min-width: 768px) {
  .hero .hero-inner {
    width: 70%; }
    .hero .hero-inner h1 {
      font-size: 3.3em;
      line-height: 1.2em; }
    .hero .hero-inner h4 {
      line-height: 1.4em; } }

@media (min-width: 1440px) {
  .hero .hero-inner h1 {
    font-size: 4em;
    line-height: 1.3em; } }

.features .features-inner h4, .features .features-inner h5 {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-size: 19px; }

.features .features-inner img {
  max-width: 100%;
  width: 120px; }

@media (min-width: 768px) {
  .features .features-inner img {
    width: 100px; } }

.about {
  overflow: hidden; }
  .about .about-inner .about-content {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(255, 255, 255, 0.8)), color-stop(45%, rgba(255, 255, 255, 0.5)), color-stop(60%, rgba(255, 255, 255, 0.6)));
    background-image: -webkit-linear-gradient(bottom left, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 45%, rgba(255, 255, 255, 0.6) 60%);
    background-image: -o-linear-gradient(bottom left, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 45%, rgba(255, 255, 255, 0.6) 60%);
    background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 45%, rgba(255, 255, 255, 0.6) 60%); }
    .about .about-inner .about-content:after {
      content: '';
      z-index: -1;
      position: absolute;
      -webkit-transform: translate(0px, 0px, 0px);
      -ms-transform: translate(0px, 0px, 0px);
      transform: translate(0px, 0px, 0px);
      top: -100px;
      left: -100px;
      bottom: -100px;
      right: -100px;
      padding: 100px;
      margin: auto;
      width: 150%;
      height: 150%;
      background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(0, 0, 0, 0.15)), color-stop(45%, rgba(0, 0, 0, 0.05)), color-stop(60%, rgba(0, 0, 0, 0.1)));
      background-image: -webkit-linear-gradient(bottom left, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.05) 45%, rgba(0, 0, 0, 0.1) 60%);
      background-image: -o-linear-gradient(bottom left, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.05) 45%, rgba(0, 0, 0, 0.1) 60%);
      background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.05) 45%, rgba(0, 0, 0, 0.1) 60%);
      -webkit-filter: blur(20px);
      -o-filter: blur(20px);
      filter: blur(20px); }
    .about .about-inner .about-content .about-content-inner h2, .about .about-inner .about-content .about-content-inner h3, .about .about-inner .about-content .about-content-inner h4 {
      font-weight: 800;
      letter-spacing: 0.8px;
      text-transform: uppercase; }

.service .service-content .service-inner .service-data h2, .service .service-content .service-inner .service-data h3, .service .service-content .service-inner .service-data h4 {
  font-weight: 800;
  letter-spacing: 0.8px;
  text-transform: uppercase; }

.service .service-content .service-inner .service-img .service-img-inner {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat; }

.service .service-content .service-inner .service-img .img-1 {
  background: url("../img/approach2.jpg");
  background-size: cover; }

.service .service-content .service-inner .service-img .img-2 {
  background: url("../img/m10.jpg");
  background-size: cover; }

.opaline {
  width: 100%;
  height: 100%; }
  .opaline .opaline-inner .opaline-content {
    z-index: 1;
    overflow: hidden;
    background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(255, 255, 255, 0.8)), color-stop(45%, rgba(255, 255, 255, 0.5)), color-stop(60%, rgba(255, 255, 255, 0.6)));
    background-image: -webkit-linear-gradient(bottom left, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 45%, rgba(255, 255, 255, 0.6) 60%);
    background-image: -o-linear-gradient(bottom left, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 45%, rgba(255, 255, 255, 0.6) 60%);
    background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 45%, rgba(255, 255, 255, 0.6) 60%); }
    .opaline .opaline-inner .opaline-content:after {
      content: '';
      z-index: -1;
      position: absolute;
      -webkit-transform: translate(0px, 0px, 0px);
      -ms-transform: translate(0px, 0px, 0px);
      transform: translate(0px, 0px, 0px);
      top: -100px;
      left: -100px;
      bottom: -100px;
      right: -100px;
      padding: 100px;
      margin: auto;
      width: 150%;
      height: 150%;
      background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(0, 0, 0, 0.15)), color-stop(45%, rgba(0, 0, 0, 0.05)), color-stop(60%, rgba(0, 0, 0, 0.1)));
      background-image: -webkit-linear-gradient(bottom left, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.05) 45%, rgba(0, 0, 0, 0.1) 60%);
      background-image: -o-linear-gradient(bottom left, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.05) 45%, rgba(0, 0, 0, 0.1) 60%);
      background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.05) 45%, rgba(0, 0, 0, 0.1) 60%);
      -webkit-filter: blur(20px);
      -o-filter: blur(20px);
      filter: blur(20px); }
    .opaline .opaline-inner .opaline-content .opaline-content-inner h2, .opaline .opaline-inner .opaline-content .opaline-content-inner h3, .opaline .opaline-inner .opaline-content .opaline-content-inner h4 {
      font-weight: 800;
      letter-spacing: 0.8px;
      text-transform: uppercase; }

.team .team-inner .team-content h2, .team .team-inner .team-content h3, .team .team-inner .team-content h4 {
  font-weight: 800;
  letter-spacing: 0.8px;
  text-transform: uppercase; }

.team .team-inner .team-img {
  background: url("../img/team2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.gallery {
  background: #dddddd; }
  .gallery .gallery-content .gallery-inner .gallery-item {
    overflow: hidden; }
    .gallery .gallery-content .gallery-inner .gallery-item a {
      position: relative;
      cursor: pointer; }
    .gallery .gallery-content .gallery-inner .gallery-item img {
      width: 100%;
      -webkit-transition: all ease 0.4s;
      -o-transition: all ease 0.4s;
      transition: all ease 0.4s; }
      .gallery .gallery-content .gallery-inner .gallery-item img:hover {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05); }

.prefooter {
  background: url("../img/why2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .prefooter .prefooter-inner .row h2 {
    font-weight: 700; }
  .prefooter .prefooter-inner .row img {
    width: 20px;
    margin: 0;
    margin-right: 6px;
    vertical-align: -4px; }
  .prefooter .prefooter-inner .row a {
    padding: 0;
    vertical-align: middle; }
  .prefooter .prefooter-inner .row .btn.natales {
    background: black;
    color: white;
    padding-left: 0;
    vertical-align: middle;
    padding: 6px 16px;
    margin: 6px 4px;
    border: none;
    opacity: 1;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s; }
    .prefooter .prefooter-inner .row .btn.natales:hover {
      opacity: 0.9; }
  .prefooter .prefooter-inner .row .btn-facebook {
    background: #3b5998 !important; }
  .prefooter .prefooter-inner .row .btn-instagram {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), -webkit-gradient(linear, left top, left bottom, from(#6559ca), color-stop(30%, #bc318f), color-stop(50%, #e33f5f), color-stop(70%, #f77638), to(#fec66d)) !important;
    background: -webkit-radial-gradient(35% 90%, circle farthest-corner, #fec564, transparent 50%), -webkit-radial-gradient(0 140%, circle farthest-corner, #fec564, transparent 50%), -webkit-radial-gradient(0 -25%, ellipse farthest-corner, #5258cf, transparent 50%), -webkit-radial-gradient(20% -50%, ellipse farthest-corner, #5258cf, transparent 50%), -webkit-radial-gradient(100% 0, ellipse farthest-corner, #893dc2, transparent 50%), -webkit-radial-gradient(60% -20%, ellipse farthest-corner, #893dc2, transparent 50%), -webkit-radial-gradient(100% 100%, ellipse farthest-corner, #d9317a, transparent), -webkit-linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%) !important;
    background: -o-radial-gradient(35% 90%, circle farthest-corner, #fec564, transparent 50%), -o-radial-gradient(0 140%, circle farthest-corner, #fec564, transparent 50%), -o-radial-gradient(0 -25%, ellipse farthest-corner, #5258cf, transparent 50%), -o-radial-gradient(20% -50%, ellipse farthest-corner, #5258cf, transparent 50%), -o-radial-gradient(100% 0, ellipse farthest-corner, #893dc2, transparent 50%), -o-radial-gradient(60% -20%, ellipse farthest-corner, #893dc2, transparent 50%), -o-radial-gradient(100% 100%, ellipse farthest-corner, #d9317a, transparent), -o-linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%) !important;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%) !important; }
  .prefooter .prefooter-inner .row .btn-whatsapp {
    background: #25D366 !important; }

@media (min-width: 768px) {
  .prefooter .prefooter-inner .row .btn.natales {
    margin: 0px 4px; } }

footer {
  background: #24323b;
  color: white; }
  footer .footer-inner h3, footer .footer-inner h4, footer .footer-inner h5 {
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 17px; }
  footer .footer-inner img {
    vertical-align: middle; }
  footer .footer-inner p {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 0;
    font-size: 14px; }
  footer .footer-inner a {
    color: #99e600;
    opacity: 1;
    text-decoration: none;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s; }
    footer .footer-inner a:hover {
      color: white; }

.pushy {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: -webkit-transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -o-transition: transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99), -webkit-transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99); }
