khtml
  scroll-behavior: smooth

body
  font-family: 'Heebo', sans-serif
  overflow: hidden
// body.overflow-block
//   overflow: hidden

.loading
  position: absolute
  top: 0
  width: 100%
  bottom: 0
  left: 0
  right: 0
  margin: auto
  height: 100vh
  text-align: center
  vertical-align: middle
  display: flex
  justify-content: center
  align-items: center
  img
    width: 50vw

@media (min-width: 900px)
  .loading
    img
      width: 18vw

.pushy
  .pushy-content
    ul
      padding-left: 0

.btn-regular
  background: black !important
  border: 0

header
  position: absolute
  width: 100%
  z-index: 999
  margin: auto
  // opacity: 0
  .header-inner
    width: 100%
    padding-top: 1.8em
    padding-right: 15px
    padding-left: 15px
    margin-right: auto
    margin-left: auto
    margin: auto
    display: flex
    justify-content: space-between
    align-items: center
    align-content: center
  .logo-wrapper
    a
      text-decoration: none
    h4
      color: rgba(black, 0.8)
      font-weight: 800
      transition: all ease 0.3s
      margin: 0
      font-size: 20px
      letter-spacing: 0.8px
      &:hover
        color: rgba(black, 0.4)
    .logo
      width: 220px
      opacity: 1
      transition: all ease 0.3s
      &:hover
        opacity: 0.6
  .menu-btn
    color: rgba(black, 0.8)
    cursor: pointer
    font-size: 30px
    transition: all ease 0.3s
    span
      font-weight: 800
      text-shadow: -0.5px 0 rgba(black, 0.8), 0 0.5px rgba(black, 0.8), 0.5px 0 rgba(black, 0.8), 0 -0.5px rgba(black, 0.8)
    &:hover
      color: rgba(black, 0.4)
      span
        text-shadow: -0.5px 0 rgba(black, 0.4), 0 0.5px rgba(black, 0.4), 0.5px 0 rgba(black, 0.4), 0 -0.5px rgba(black, 0.4)

@media (min-width: 576px)
  header
    .header-inner
      max-width: 540px

@media (min-width: 768px)
  header
    .header-inner
      padding-top: 3em
      max-width: 720px
    .logo-wrapper
      a
      h4
        font-size: 20px

@media (min-width: 992px)
  header
    .header-inner
      max-width: 960px

@media (min-width: 1200px)
  header
    .header-inner
      padding-top: 3.4em
      max-width: 1140px

.hero
  width: 100%
  background: url('../img/head2.jpg')
  // background: url('../img/head3.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: 50% 30%
  background-position: 50% 30%
  .hero-inner
    text-align: center
    margin: auto
    display: flex
    width: 100%
    height: 100vh
    justify-content: center
    flex-wrap: wrap
    align-content: center
    align-items: center
    color: white
    h1, h2, h3, h4, h5, h6
      width: 100%
    h1
      margin: auto
      font-size: 2em
      line-height: 1.2em
      font-weight: 700
    h4
      font-weight: normal
      line-height: 1.2em
    button
      margin: auto

@media (min-width: 768px)
  .hero
    .hero-inner
      width: 70%
      h1
        // width: 70%
        font-size: 3.3em
        line-height: 1.2em
      h4
        line-height: 1.4em

@media (min-width: 1440px)
  .hero
    .hero-inner
      h1
        font-size: 4em
        line-height: 1.3em

// features
.features
  .features-inner
    // opacity: 0
    h4, h5
      font-weight: 800
      text-transform: uppercase
      letter-spacing: 0.8px
      font-size: 19px
    img
      max-width: 100%
      width: 120px

@media (min-width: 768px)
  .features
    .features-inner
      h4, h5
        // font-size: 18px
      img
        width: 100px

// About
.about
  overflow: hidden
  .about-inner
    .about-content
      position: relative
      width: 100%
      height: 100%
      z-index: 1
      overflow: hidden
      background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.6) 45%, rgba(255, 255, 255, 0.7) 60%)
      &:after
        content: ''
        z-index: -1
        position: absolute
        transform: translate(0px, 0px, 0px)
        top: -100px
        left: -100px
        bottom: -100px
        right: -100px
        padding: 100px
        margin: auto
        width: 150%
        height: 150%
        background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.15) 45%, rgba(0, 0, 0, 0.15) 60%)
        -webkit-filter: blur(20px)
        -o-filter: blur(20px)
        filter: blur(20px)
      .about-content-inner
        // opacity: 0
        h2, h3, h4
          font-weight: 800
          letter-spacing: 0.8px
          text-transform: uppercase

// News
.service
  .service-content
    .service-inner
      // opacity: 0
      .service-data
        h2, h3, h4
          font-weight: 800
          letter-spacing: 0.8px
          text-transform: uppercase
      .service-img
        .service-img-inner
          height: 100%
          background-position: center
          background-repeat: no-repeat
        .img-1
          background: url('../img/approach2.jpg')
          background-size: cover
        .img-2
          background: url('../img/m10.jpg')
          background-size: cover

// Opaline
.opaline
  width: 100%
  height: 100%
  .opaline-inner
    .opaline-content
      z-index: 1
      overflow: hidden
      background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.6) 45%, rgba(255, 255, 255, 0.7) 60%)
      &:after
        content: ''
        z-index: -1
        position: absolute
        transform: translate(0px, 0px, 0px)
        top: -100px
        left: -100px
        bottom: -100px
        right: -100px
        padding: 100px
        margin: auto
        width: 150%
        height: 150%
        background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.15) 45%, rgba(0, 0, 0, 0.15) 60%)
        -webkit-filter: blur(20px)
        -o-filter: blur(20px)
        filter: blur(20px)
      .opaline-content-inner
        // opacity: 0
        h2, h3, h4
          font-weight: 800
          letter-spacing: 0.8px
          text-transform: uppercase

// Team
.team
  .team-inner
    // opacity: 0
    .team-content
      h2, h3, h4
        font-weight: 800
        letter-spacing: 0.8px
        text-transform: uppercase
    .team-img
      background: url('../img/team2.jpg')
      // width: 100%
      // height: 100%
      background-position: center
      background-repeat: no-repeat
      background-size: cover

@media (min-width: 900px)
  .team
    .team-inner
      .team-content
        h2, h3, h4
      .team-img
        min-height: 340px

// gallery
.gallery
  background: #dddddd
  .gallery-content
    .gallery-inner
      // opacity: 0
      .gallery-item
        overflow: hidden
        a
          position: relative
          cursor: pointer
          // overflow: hidden
        img
          width: 100%
          transition: all ease 0.4s
          &:hover
            transform: scale(1.05)

// Sponsors
// .sponsors
//   .sponsors-inner
//     // opacity: 0
//     .sponsors-content
//       h4
//         width: 100%
//       img
//         max-width: 100%
//       .sponsors-item
//         padding: 0 80px
//
// @media (min-width: 768px)
//   .sponsors
//     .sponsors-inner
//       .sponsors-content
//         h4
//         img
//         .sponsors-item
//           padding: 0 50px

.prefooter
  background: url('../img/m12.jpg')
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  .prefooter-inner
    .row
      h2
        font-weight: 700
      img
        width: 20px
        margin: 0
        margin-right: 6px
        vertical-align: -4px
      a
        padding: 0
        vertical-align: middle
      .btn.natales
        background: black
        color: white
        padding-left: 0
        vertical-align: middle
        padding: 6px 16px
        margin: 6px 4px
        border: none
        opacity: 1
        transition: all ease 0.3s
      .btn-facebook
        background: #3b5998 !important
      .btn-instagram
        // background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf) !important
        background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%) !important
      .btn-whatsapp
        background: #25D366 !important

@media (min-width: 768px)
  .prefooter
    align-content: center
    align-items: center
    .prefooter-inner
      .row
        h2
        img
        a
        .btn.natales
          margin: 0px 4px

@media (min-width: 900px)
  .prefooter
    height: 400px
    .prefooter-inner
      .row
        h2
        img
        a

@media (min-width: 1200px)
  .prefooter
    height: 440px
    .prefooter-inner
      .row
        h2
        img
        a

@media (min-width: 1400px)
  .prefooter
    // height: 440px
    height: 500px
    .prefooter-inner
      .row
        h2
        img
        a

.map
  .gmap_canvas
    overflow: hidden
    background: none !important
    width: 100%
    height: 400px

@media (min-width: 768px)
  .map
    .gmap_canvas

@media (min-width: 900px)
  .map
    .gmap_canvas

@media (min-width: 1200px)
  .map
    .gmap_canvas
      height: 440px

@media (min-width: 1400px)
  .map
    height: 100%
    .gmap_canvas
      height: 500px
      // height: 100%

// Buttons alt
.btn-whatsapp
  background: #25D366 !important
  img
    width: 20px
    margin: 0
    margin-right: 6px
    vertical-align: -4px
  &:hover
    background: #21BD5B !important

footer
  background: rgba(36, 50, 59, 1)
  color: white
  .footer-inner
    h3, h4, h5
      font-weight: 800
      letter-spacing: 1px
      font-size: 17px
    img
      vertical-align: middle
    p
      font-weight: 400
      color: rgba(white, 0.7)
      margin-bottom: 0
      font-size: 14px
    span.info
      color: white
      font-size: 18px
      font-weight: 600
    a.info
      color: rgba(white, 0.7)
      font-weight: 600
      font-size: 18px
    a.asomic
      color: #99e600
      opacity: 1
      text-decoration: none
      transition: all ease 0.3s
      &:hover
        color: white

.pushy
  transition: transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99)

//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
