body

header
  position: absolute
  width: 100%
  z-index: 999
  margin: auto
  .header-inner
    width: 100%
    padding-right: 15px
    padding-left: 15px
    margin-right: auto
    margin-left: auto
    margin: auto
    display: flex
    justify-content: space-between

@media (min-width: 576px)
  header
    .header-inner
      max-width: 540px

@media (min-width: 768px)
  header
    .header-inner
      max-width: 720px

@media (min-width: 992px)
  header
    .header-inner
      max-width: 960px

@media (min-width: 1200px)
  header
    .header-inner
      max-width: 1140px

.hero
  background: url('../img/head2.jpg')
  background-position: center
  background-attachment: fixed
  background-repeat: no-repeat
  background-size: cover
  width: 100%
  height: 100vh
  text-align: center
  display: flex
  margin: auto
  justify-content: center
  flex-wrap: wrap
  // flex-wrap: nowrap
  align-content: center
  align-items: center
  h1, h3
    width: 100%
  button
    margin: auto

// features
.features
  .features-inner

// About
.about
  background: url('../img/context2.jpg')
  background-position: center
  background-attachment: fixed
  background-repeat: no-repeat
  background-size: cover
  .about-inner
    .about-content
      background: rgba(128, 215, 247, 0.5)

// News
.news
  .news-inner
    .news-data
    .news-img
      .news-img-inner
        background: url('../img/approach2.jpg')
        // width: 100%
        height: 100%
        background-position: center
        background-repeat: no-repeat
        background-size: cover

// Opaline
.opaline
  background: url('../img/why2.jpg')
  width: 100%
  height: 100%
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed
  .opaline-inner
    .opaline-content
      background: rgba(128, 215, 247, 0.5)

// Team
.team
  .team-inner
    .team-content
    .team-img
      background: url('../img/team2.jpg')
      // width: 100%
      // height: 100%
      background-position: center
      background-repeat: no-repeat
      background-size: cover

// gallery
.gallery
  .gallery-inner
    .gallery-item

// Sponsors
.sponsors
  .sponsors-inner
    h4
      width: 100%
    img
      max-width: 100%

.prefooter
  background: url('../img/thankyou2.jpg')
  background-position: center
  background-repeat: no-repeat
  .prefooter-inner


footer
  background: rgba(36, 50, 59, 1)
  color: white
//
//
//
//
//
//
//
//
//
